<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration - Gymloggers</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
<div class="container-fluid text-center">
    <div>
        <h1>User Registration - Sign Up</h1>
    </div>

    <form th:action="@{/process_register}" method="post" th:object="${user}"
          style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" th:field="*{email}" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{firstName}" required
                           minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" th:field="*{lastName}" required
                           minlength="2" maxlength="20"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" th:field="*{password}" required
                           minlength="6" maxlength="10"/>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="submit" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/list_users}]]";
    }
</script>
</body>
</html>