<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Gym Log</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>

</head>
<body>
<div class="container-fluid text-center">
  <div>
    <h1>Edit Person</h1>
  </div>

  <form th:action="@{/process_Person_Edit}" method="post" th:object="${person}"
        style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Bodyweight Kg</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" th:field="*{bodyWeight}" required
                 minlength="40" maxlength="300" step="0.01"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Height Cm</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" th:field="*{height}" required
                 minlength="100" maxlength="300"/>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Save</button>
        <button type="submit" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
      </div>
    </div>
  </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/log}]]";
    }
</script>
</body>
</html>